.App {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}

.box {
  margin: 10px;
  width: 400px;
  height: 550px;
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

img {
  height: 200px;
  margin-top: 90px;
  margin-bottom: 100px;
} 

.winner {
  border: 10px solid #15CC4E;
}

.winner > h1 {
  color: #15CC4E;
}

.loser {
  border: 10px solid #FF4218;
}

.loser > h1 {
  color: #FF4218;
}